# Vyhoď VCS/CI a dev věci
.git/**
.github/**
.vscode/**
scripts/**
test/**
tests/**

# Mapy, TS zdrojáky (pokud bys je měl)
**/*.map
**/*.ts
**/*.tsx

# Balíčky a archivy
**/*.zip
**/*.vsix

# Node modules (většinou nechceš přibalovat)
node_modules/**
!node_modules/vscode-languageclient/**

# Dotfiles obecně
.*/**